GITEE_USER=zyf-zed
GITEE_TOKEN=your_gitee_personal_access_token
VITE_TIANDITU_TOKEN=your_tianditu_token
VITE_API_BASE_URL=/api
JENKINS_ADMIN_PASSWORD=<REDACTED>
REMOTE_HOST=106.12.54.57
REMOTE_USER=root
REMOTE_DEPLOY_DIR=/root/ian-personal-portfolio
